<div class="background">
  <img src="https://media.redadn.es/series/p/k-on_718.jpg" />
</div>

<div class="container">
  <div class="header">
    <img src="https://media.redadn.es/series/p/k-on_718.jpg" />
    <div class="title">
      <h2>K-on!</h2>
      <span>Finished</span>
    </div>
  </div>
  <div class="buttons">
    <icon-button label="Add to favorites" icon="favorites"></icon-button>
  </div>
  <div class="synopsis-container">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos
      possimus commodi tenetur nisi, doloremque at harum natus velit eveniet,
      omnis eum, nulla ipsa. Magni excepturi dolores, quaerat iure consequatur
      accusantium.
    </p>
    <button mat-button color="primary">More</button>
  </div>
</div>
