.main-container {
  padding: 50px;
}

p {
  font-size: 18px;
  color: rgb(88, 88, 88);
  line-height: 22px;  

}

.title {

  color: rgb(0, 0, 0);
  font-size: 1.75rem;
  font-weight: 300 !important;

}

.link {
  text-decoration: none;
  font-weight: 500;
  color: #5c6bc0;

}

.mio {
  position: relative;
  right: 0px;
  bottom: 0;
  width: 300px;
  height: auto;
}

.text-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 70vw;
}

@media(max-width:1234px) {
  .text-container {
    max-width: 100vw;
  }

  .main-container {
    padding: 20px 15px;
  }

  .title {

    font-size: 1.4rem;

  }

  p {
    font-size: 16px;
  }
}
