<div class="main-container">
  <div class="text-container">
    <span class="title">About</span>
    <p>Akiyama is an open-source anime website using the Aruppi API, developed with the objective of learning
      and improving my coding skills.
    </p>
    <p>All the content that can be found in this application is hosted in third party servers
      such as Mega, YourUpload, FEMBED, etc. All this services are available for free online. For any legal trouble,
      related to the content shown in this website, must be addressed with the owners of the servers that are storing
      this content, as we are not affilliated nor colaborating with them.
    </p>

    <p>
      Akiyama was developed by <a class="link" href="https://fmaldonado6.github.io">Fernando Maldonado</a>.
    </p>
    <p>
      Want to contribute? Visit the <a class="link" href="https://github.com/Fmaldonado6/Akiyama">github repo</a> to
      get started!.
    </p>
  </div>
</div>
<div class="mio-container" fxLayout="row" fxLayoutAlign="end center">
  <img class="mio" matTooltip="Mio Akiyama from K-On!" src="assets/logo/mio.png">
</div>
