<mat-nav-list role="list" class="sections" fxLayout="column" fxLayout.fxLayout.lt-md="row">
  <mat-list-item routerLink="/" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="selected-item">
    <mat-icon matListIcon>home</mat-icon>
    <span matLine> Home </span>
  </mat-list-item>
  <mat-list-item routerLink="/templates" routerLinkActive="selected-item">
    <mat-icon matListIcon>movie</mat-icon>
    <h3 matLine> More content </h3>
  </mat-list-item>
  <mat-list-item routerLink="/playlists" routerLinkActive="selected-item">
    <mat-icon matListIcon>help_outline</mat-icon>
    <h3 matLine> About </h3>
  </mat-list-item>

</mat-nav-list>
