.selected-item {
  background-color: #4d94ff96;
  transform: translateX(-15px);
  color: white !important;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;

}


.section {
  border-top: 1px solid grey;
  margin-bottom: 10px;
}

.selected-item:hover {
  background-color: #4d94ff69 !important;
}

.selected-item:focus {
  background-color: #4d94ff96;
}

mat-nav-list{
    margin-top: 50px;
}


mat-list-item {
  font-weight: 100 !important;
  color: rgb(177, 177, 177) !important;
  transition: transform .3s ease, background-color .3s ease, border-radius .3s ease;
  margin-top: 10px;
  height: 50px !important;
}
