
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$mat-akiyama: (
  50: #eaf2ff,
  100: #cadeff,
  200: #a6c8ff,
  300: #82b1fe,
  400: #68a1fe,
  500: #4d90fe,
  600: #4688fe,
  700: #3d7dfe,
  800: #3473fe,
  900: #2561fd,
  A100: #ffffff,
  A200: #ffffff,
  A400: #d1ddff,
  A700: #b8caff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$web-app-primary: mat-palette($mat-akiyama,700);
$web-app-accent: mat-palette($mat-akiyama, 300);
$web-app-: mat-palette($mat-akiyama, 300);

// The warn palette is optional (defaults to red).
$web-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$web-app-theme: mat-light-theme($web-app-primary, $web-app-accent, $web-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($web-app-theme);

