/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 

}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


html{
  background-color: #181818;
  font-family: 'Montserrat', sans-serif !important;

}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #181818;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(66, 66, 66);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(58, 58, 58);
  }