.loading {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.dialog {
  max-width: 500px;
  min-width: 500px;
  height: 300px;
  position: relative;
  overflow: hidden;
}


.container {
  position: relative;
  padding: 20px;
}

.title {
  font-size: 25px;
}

.server-container {
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 230px;
  overflow: auto;
}


button {
  font-size: 14px;
  width: calc(50% - 20px);
  margin: 10px;
  letter-spacing: 2px;
  border-radius: 20px;
  padding: 5px;
  font-weight: 300;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: #7986cb;
}


@media(max-width:960px) {
  .dialog {
    min-width: 0;
    max-width: 100vw;
    width: 80vw;
  }

  button {
    width: 100%;
  }
}
