.empty-icon {
  transform: scale(2);
  margin-bottom: 30px;
  color: rgb(194, 194, 194);
}

.empty-text{
  color: rgb(173, 173, 173);
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.empty {
  height: 100%;
  width: 100%;
  min-height: 275px;
  display: flex;
  align-items: center;
  justify-content: center;
}
