.title-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

mat-list-item{
  cursor: pointer;
}


a {
  text-decoration: none;
}

.settings {
  margin: 0px auto;
  width: 50%;
}

@media (max-width: 1000px) {
  .settings {
    width: 100%;
  }
}
