<div class="container ">
  <div class="title-container" fxLayout="row" fxLayoutAlign="space-between center">
    <span class="section-title">{{title}}</span>
  
  </div>
  <div class="anime-container" [ngSwitch]="currentStatus">

    <div class="loading" *ngSwitchCase="Status.loading">
      <mat-spinner [diameter]="40"></mat-spinner>
    </div>

    <div #container class="loaded" *ngSwitchCase="Status.loaded" (wheel)="scroll(container,$event)">
      <div class="anime mat-elevation-z8 clickable" *ngFor="let episode of data" (click)="openModal(episode)">
        <img [src]="getImage(episode.image)">
        <div class="anime-title-container">
          <span class="anime-title">{{episode.title}}</span>
        </div>
      </div>
    </div>

    <div class="error" *ngSwitchCase="Status.error" fxLayout="column">
      <error (retry)="dataType != DataType.search ?  fetchData(true) : makeSearch()"></error>
    </div>

    <div class="empty" *ngSwitchCase="Status.empty" fxLayout="column">
      <empty></empty>
    </div>

  </div>
</div>
