<div class="container">
  <h1>About</h1>
  <p>
    Akiyama is an open-source anime website using the unofficial AnimeFLV API, developed with
    the objective of learning and improving my coding skills.
  </p>
  <p>
    All the content that can be found in this application is hosted in third
    party servers such as Mega, YourUpload, FEMBED, etc. All this services are
    available for free online. For any legal trouble, related to the content
    shown in this website, must be addressed with the owners of the servers that
    are storing this content, as we are not affilliated nor colaborating with
    them.
  </p>
  <a href="https://pngtree.com/so/coffee-mug-clipart" target="_blank"
    >coffee mug clipart png from pngtree.com</a
  >
</div>
