<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    class="sidenav"
    opened="true"
    mode="side"
    *ngIf="innerWidth >= 1234"
  >
    <div
      class="sidenav-item"
      *ngFor="let item of sidenavItems"
      [routerLink]="item.path"
      routerLinkActive="selected-item"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon class="material-icons-outlined">{{ item.icon }}</mat-icon>
      <span>{{ item.title }}</span>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
