.screen{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
}

.back-button{
    position:fixed;
    color: white;
    margin: 30px;
    transform: scale(2);
    transition: all .3s ease;
}

.back-button:hover{
    background-color: rgba(29, 29, 29, 0.555);
}

iframe{
    width: 100%;
    height: 100%;
    border: none;
}