.anime {
  position: relative;
  border-radius: 10px;
  width: 180px;
  cursor: pointer;
  height: 240px;
  -webkit-box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.34);
  transition: filter 0.3s ease;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:before {
    content: " ";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.733) 100%
    );
  }

  &:hover {
    filter: brightness(0.65);
  }

  p {
    z-index: 50;
    color: white;
    font-size: 18px;
    font-weight: 300 !important;
    margin: 10px;
    bottom: 0px;
    max-width: 90%;
    left: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
  }
}
